
* {
    font-family: "Spartan", sans-serif;
    font-size: 15px;
    font-weight: 500;
}

body {
 background-image: url("images/bg-pattern-top-desktop.svg"), url("images/bg-pattern-bottom-desktop.svg");
 background-position: left top, right bottom;
 background-repeat: no-repeat, no-repeat;
 height: 100vh;
}

h1 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 44px;
    line-height: 100%;
    margin-bottom: 15px;
}

#main {
    padding: 100px;
    margin-top: 150px;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 1440px;
    height: 100%;
    max-height: 800px;
}

#top-row {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.bottom-row {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15%;
}


.header { 
    display: flex;
    flex-direction: column;
    width: 450px;
}

.ratings:nth-of-type(2) {
    margin-left: auto;
    margin-right: auto;
}

.ratings:last-of-type {
    margin-left: auto;
}

.text {
    font-weight: bold;
    color: hsl(300, 43%, 22%);
    line-height: 1.6;
}
.rating-container {
    flex-basis: 50%;
    margin-left: auto;
}

.ratings {
    background: hsl(300, 24%, 96%);
    border-radius: 8px;
    width: 444px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
} 



.profiles {
    width: 27%;
    display: flex;
    flex-direction: column;
    background-color:hsl(300, 43%, 22%);
    border-radius: 8px;
    padding: 30px;
    color: hsl(0, 0%, 100%);
    line-height: 1.5;
    font-weight: 400;
 
}
.person {
    display: flex;
    flex-direction: row;
    margin: 25px;

}
.personName {
    display: flex;
    flex-direction: column;
    color: hsl(300, 24%, 96%);
    margin: 20px;
    width: 45%;
}
.person-text {
    width: 86%;
}

.spartan {
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    font-size: 50;
}