
#main {
    display: flex;
    flex-flow: row wrap;
    max-width: 80%;
    margin: auto;
    background: antiquewhite;
    flex-direction: column;
}

#top-row {
    background: cadetblue;
    display: flex;
    flex-direction: row;
}

#header {
    display: inline-block;
    font-family: Spartan;
    font-weight: bold;
    color:  hsl(300, 43%, 22%);
    display: inline-block;
    line-height: 50px;
    height: 150px;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
  }

.spartan {
    font-family: 'Spartan', sans-serif;
    font-weight: 700;

}