
* {
    font-family: "Spartan", sans-serif;
}

#main {
    display: flex;
    flex-flow: row wrap;
    max-width: 80%;
    margin: auto;
    background: antiquewhite;
    flex-direction: column;
}

#top-row {
    background: rgb(235, 240, 239);
    display: flex;
    flex-direction: row;
}

.header {
    display: flex;
    flex-direction: column;
    width: 450px;

}

.text {

    display: inline-block;
    font-family: Spartan;
    font-weight: bold;
    color:  hsl(300, 43%, 22%);
    display: inline-block;
    line-height: 50px;
    height: 150px;

}
.rating-container {
  size: 600px;
  display: flex;
  flex-direction: column;
}

.ratings {
    border-style: hidden;
    background-color:hsl(300, 24%, 96%);
    padding: 25px;
} 


.wrapper {
    display: grid;
    justify-items: center;
    background: no-repeat url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/12005/grid.png);
    grid-gap: 10px;
    grid-template-columns:  repeat(6, 150px);
    grid-template-rows: repeat( 4, 150px);
    background-color: #fff;
    color: #444;
  }

.spartan {
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    font-size: 50;
}